{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "importOrder": ["^react.*$", "^@/(.*)$", "^[./]"]
}
