@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.full-viewport-height {
  height: 100vh;
}

@supports (height: 100dvh) {
  .full-viewport-height {
    height: 100dvh;
  }
}

@layer utilities {
  .striped > .contents > * {
    @apply: dark:bg-gray-900;
  }

  .striped > .contents:nth-child(even) > * {
    @apply bg-green-50 dark:bg-gray-800;
  }
}

.stickyGridHeader > * {
  @apply sticky top-0;
}
